.courseBox{
    .courseListBox{
        .banner{
            .ant-carousel .slick-slide{
                height:3rem;
                overflow: hidden;
                background-color: aqua;
                img{
                    display: block;
                    height: 3rem;
                    width:100%; 
                }
            }
        }
    }
}